#root {
  margin: 0 auto;
  padding: 2rem;
}

@media (min-width: 720px) {
  #root {
    width: 640px;
  }
}

@media (min-width: 1024px) {
  #root {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  #root {
    width: 1140px;
  }
}

@media (min-width: 1480px) {
  #root {
    width: 1360px;
  }
}

.ScanResults-ResultsTable {
  width: 100%;
  border-collapse: collapse;
}

.ScanResults-ResultsTable td {
  border-bottom: 1px solid #CCC;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
}